<nav class="navbar navbar-expand-lg navbar-dark " [@scrollAnimationNav]="state">
  <ul class="navbar-nav mr-auto" [@scrollAnimationNav]="state">
    <div class="title"> <a title style="color: rgb(3, 3, 53); text-decoration: none; "
        [@scrollAnimationTex]="state">SAMUEL TINOCO CALDERON</a> </div>
    <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
        href="#home" >HOME</a> </li>
    <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
        href="#about" >ABOUT</a> </li>
    <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
        href="#experience" >EXPERIENCE</a> </li>
    <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
        href="#education" >EDUCATION</a> </li>
    <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
        href="#skills" >SKILLS</a> </li>
        <li class="btn nav-item"> <a [@scrollAnimationTex]="state" class="nav-link" style="color: rgb(3, 3, 53);"
          href="#project" >PROJECT</a> </li>
    <li class="btn nav-item "> <a [@scrollAnimationTex]="state" class="nav-link color" style="color: #6E5DCF"
        href="#contact" >CONTACT</a> </li>
    <a (click)="clickbtn()" class="toggle-button">
      <span [@scrollAnimationBar]="state" class="bar"></span>
      <span [@scrollAnimationBar]="state" class="bar"></span>
      <span [@scrollAnimationBar]="state" class="bar"></span>
    </a>
  </ul>
</nav>