<div name="contact" class="contact" [@scrollAnimationContact]="state">

    <h3 class="title-seccion">CONTACT</h3>
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-8 contact-info">
                <p class="contact-detail">
                    <strong>Email:</strong>
                    <a href="mailto:samueltc39.st@gmail.com">samueltc39.st@gmail.com</a>
                </p>
                <p class="contact-detail">
                    <strong>Phone:</strong>
                    <a href="tel:+50686530599">+506 8653-0599</a>
                </p>
                <p class="contact-detail">
                    <strong>Location:</strong> San José, Costa Rica
                </p>
            </div>

        </div>

        <div class="row justify-content-center social-row">

            <div class="col-auto">
                <a href="mailto:samueltc39.st@gmail.com" target="_blank">
                    <div class="card">
                        <img src="../assets/gmail.svg">
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a href="https://www.linkedin.com/in/samuel-tinoco-calderon/" target="_blank">
                    <div class="card">
                        <img src="../assets/linkedin.svg">
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a href="https://github.com/Samuel-TC" target="_blank">
                    <div class="card">
                        <img src="../assets/github.svg">
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a href="https://www.instagram.com/samuel_tc_/" target="_blank">
                    <div class="card">
                        <img src="../assets/instagram.svg">
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a href="https://wa.link/s4lk6v" target="_blank">
                    <div class="card">
                        <img src="../assets/whatsapp.svg">
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>